// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
  max-width: 100px;
  text-align: center;
}

input[id^="attendance_c"] {
  margin-left: 20px;
  margin-right: 10px;
}
